body{
    background-color: #808080;
}


.ngar{


align-content: center;
display: flex;
margin-left: 500px;
}


.nxp{

    width: 100px;
    height: 100px;

}

.nut{

    width: 100px;
    height: 100px;
}
.ntas{

width: 100px;
    height: 100px;

}
.nxpq{
    

    margin-top: 50px;
    display: flex;
}

.text1{


color: white;
display: flex;
margin-top: 20px;
margin-left: 500px;
}

.as{

    display: flex;
}

.ass{

    display: flex;
}

.assd{

    display: flex;
}
.aaa{
    margin-top: 20px;
margin-left: 500px;
display: flex;

}


.nxpa{

    display: flex;
    margin-left: 340px;
}
.ngar1{


    display: flex;
}
.ngar2{


    display: flex;
}
.ngar3{


    display: flex;
}
.knpka1{


color: blue;
   
}






